<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308144927320-uuiap7gqnaog8hngbul8ofrhsv9qtjt1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308144927320-uuiap7gqnaog8hngbul8ofrhsv9qtjt1</string>
	<key>API_KEY</key>
	<string>AIzaSyCcZkMKTw2e-MkhcBuOUX7C9WszT-glkBw</string>
	<key>GCM_SENDER_ID</key>
	<string>308144927320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trainBuddy</string>
	<key>PROJECT_ID</key>
	<string>train-buddy-4f8fc</string>
	<key>STORAGE_BUCKET</key>
	<string>train-buddy-4f8fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308144927320:ios:bf334d3ae6c6d34ed0d02d</string>
	<key>DATABASE_URL</key>
	<string>https://train-buddy-4f8fc.firebaseio.com</string>
</dict>
</plist>